// Layout
$mobile-width: 375px;
$desktop-width: 1440px;

// Colors
// Primary
$primary-purple: hsl(259, 100%, 65%);
$primary-light-red: hsl(0, 100%, 67%);

// Neutral
$neutral-white: hsl(0, 0%, 100%);
$neutral-off-white: hsl(0, 0%, 94%);
$neutral-light-grey: hsl(0, 0%, 86%);
$neutral-smokey-grey: hsl(0, 1%, 44%);
$neutral-off-black: hsl(0, 0%, 8%);

// Typography
// Body Copy
$body-copy-font-size: 32px;

// Font
$font-family: "Poppins", sans-serif;
$font-weight-regular: 400;
$font-weight-bold: 700;
$font-weight-extra-bold: 800;
$font-weight-italic: 400; // Use 400i for italics, if the font supports it
